<body class='bg-gradient-to-r from-blue-900 to-gray-800 font-sans leading-normal tracking-normal'>
  <div class='flex-column justify-space-around'>
    <div class='flex flex-col flex-row'>
      <section>
        <div
          id='main'
          class='main-content flex-1 rounded-lg bg-all-warriors md:mt-2 pb-24 md:pb-5'
          style='padding-left: 0px;'
        >

          <div class='bg-gradient-to-r from-blue-900 to-gray-800 pt-3'>
          </div>

          <div class='flex flex-wrap'>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-orange-400 to-blue-900 border-b-4 border-blue-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row object-center'>
                  <div class='flex-auto text-right md:text-center sm:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-white text-lg'>Naruto Uzumaki</h2>
                      <img class='rounded-lg flex flex-row object-center items-center' src='/imgs/narutouzumaki.gif' alt='logo'/>
                    <p class='rounded-lg font-bold text-3xl'>
                      <span class='text-white'><i
                          class='fas fa-caret-up'
                        ></i>"Believe it!"</span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-orange-400 to-orange-200 border-b-4 border-blue-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row items-center'>
                  <div class='flex-1 text-right md:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-gray-600'>Naruto Uzumaki</h2>
                    <p class='rounded-lg font-bold text-3xl'>
                      <img class='rounded-lg' src='/imgs/narutouzumaki.gif' alt='logo'/>
                      <span class='text-green-500'><i
                          class='fas fa-caret-up'
                        ></i></span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-blue-400 to-blue-200 border-b-4 border-orange-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row items-center'>
                  <div class='flex-1 text-right md:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-gray-600'>Goku</h2>
                    <p class='rounded-lg font-bold text-3xl'>
                      <img class='rounded-lg' src='/imgs/narutouzumaki.gif' alt='logo'/>
                      <span class='text-white'><i
                          class='fas fa-caret-up'
                        ></i>dfhgjslkafldslkflkkladsf</span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-orange-400 to-orange-200 border-b-4 border-blue-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row items-center'>
                  <div class='flex-1 text-right md:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-gray-600'>Naruto Uzumaki</h2>
                    <p class='rounded-lg font-bold text-3xl'>
                      <img class='rounded-lg' src='/imgs/narutouzumaki.gif' alt='logo'/>
                      <span class='text-green-500'><i
                          class='fas fa-caret-up'
                        ></i></span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-orange-400 to-orange-200 border-b-4 border-blue-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row items-center'>
                  <div class='flex-1 text-right md:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-gray-600'>Naruto Uzumaki</h2>
                    <p class='rounded-lg font-bold text-3xl'>
                      <img class='rounded-lg' src='/imgs/narutouzumaki.gif' alt='logo'/>
                      <span class='text-green-500'><i
                          class='fas fa-caret-up'
                        ></i></span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
            <div class='w-full md:w-1/2 xl:w-1/3 p-6'>
              <!--Metric Card-->
              <div
                class='bg-gradient-to-b from-orange-400 to-orange-200 border-b-4 border-blue-600 rounded-lg shadow-xl p-5'
              >
                <div class='flex flex-row items-center'>
                  <div class='flex-1 text-right md:text-center'>
                    <h2 class='pb-5 font-bold uppercase text-gray-600'>Naruto Uzumaki</h2>
                    <p class='rounded-lg font-bold text-3xl'>
                      <img class='rounded-lg' src='/imgs/narutouzumaki.gif' alt='logo'/>
                      <span class='text-green-500'><i
                          class='fas fa-caret-up'
                        ></i></span></p>
                  </div>
                </div>
              </div>
              <!--/Metric Card-->
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      /*Toggle dropdown list*/ function toggleDD(myDropMenu) {
      document.getElementById(myDropMenu).classList.toggle("invisible"); }
      /*Filter dropdown options*/ function filterDD(myDropMenu,
      myDropMenuSearch) { var input, filter, ul, li, a, i; input =
      document.getElementById(myDropMenuSearch); filter =
      input.value.toUpperCase(); div = document.getElementById(myDropMenu); a =
      div.getElementsByTagName("a"); for (i = 0; i < a.length; i++) { if
      (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) { a[i].style.display =
      ""; } else { a[i].style.display = "none"; } } } // Close the dropdown menu
      if the user clicks outside of it window.onclick = function(event) { if
      (!event.target.matches('.drop-button') &&
      !event.target.matches('.drop-search')) { var dropdowns =
      document.getElementsByClassName("dropdownlist"); for (var i = 0; i <
      dropdowns.length; i++) { var openDropdown = dropdowns[i]; if
      (!openDropdown.classList.contains('invisible')) {
      openDropdown.classList.add('invisible'); } } } }
    </script>
  </div>
</body>
