

<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">What Day is It?</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQa7dmHzmv5Rug6qhjRlwOA3LB35Lpl5hAVj-s9KdF5hCmTVKNfaDod24z7HMyf4ZWkHc&usqp=CAUg" alt="All Might Back Flex" class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Pull Day
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Biceps, Deltiods, and Traps</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://cdn.myanimelist.net/s/common/uploaded_files/1453811093-bac2242a45fe970ec3298c87e1831bf7.png" alt="Zoro Abbs" class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
             Push Day
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Triceps, Abbs, and Pecks</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://play-lh.googleusercontent.com/P0nInDxTAjq4iXhx0TxHJEn5uWyrzWST7Qx8f4I_AlhFAnaLXXSg7SvlM39lqO7w4Jk=h300" alt="Hecking Legs." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="#">
              <span class="absolute inset-0"></span>
              Leg Day
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Quads, Glute, and Calves</p>
        </div>
      </div>
    </div>
  </div>
</div>