<div class="bg-white">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lets Lift</h2>
      <p class="mt-4 text-gray-500">Choose From a Push Day, Pull Day or Leg Day. Or keep scrolling down to become limber and strecthy. Start your journey to become Shonen-Strong.</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Push Day</dt>
          <dd class="mt-2 text-sm text-gray-500">Workouts desinged to target muscles focused on pushing. Emphasizing Triceps, Pecs, and Abdonimals.</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
           <dt> <ul class="font-medium text-gray-900"><ul> </dt>
          <li class="mt-2 text-sm text-gray-500">Bench Press</li>
          <li class="mt-2 text-sm text-gray-500">Shoulder Press</li>
          <li class="mt-2 text-sm text-gray-500">Tricep Extensions</li>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Pull Day</dt>
          <dd class="mt-2 text-sm text-gray-500">Pull Bigger things torward you by working out your back muscles, biceps, and deltiods.</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
            <dt> <ul class="font-medium text-gray-900"><ul> </dt>
          <li class="mt-2 text-sm text-gray-500">Lat Pull Down</li>
          <li class="mt-2 text-sm text-gray-500">Bent Over Rows</li>
          <li class="mt-2 text-sm text-gray-500">Bicep Curls</li>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Leg Day</dt>
          <dd class="mt-2 text-sm text-gray-500">Every Tree needs a trunk. Make a strong foundation by working out your quadriceps, hamstrings, and calves.</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
             <dt> <ul class="font-medium text-gray-900"><ul> </dt>
          <li class="mt-2 text-sm text-gray-500">Weighted Squats</li>
          <li class="mt-2 text-sm text-gray-500">Romanian Deadlift</li>
          <li class="mt-2 text-sm text-gray-500">Calf Raises</li>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="https://media.tenor.com/awdwRkbJzCgAAAAC/goku.gif" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="rounded-lg bg-gray-100">
      <img src="https://media.tenor.com/v3KxhM48PpIAAAAM/anime-mha.gif" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
      <img src="https://media.tenor.com/6yRdQBK6KDYAAAAS/saitama-one-punch-man.gif" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
      <img src="https://media.tenor.com/w5xIZgIdREMAAAAM/uzamaid-sports.gif" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
    </div>
  </div>
</div>





  <header class="relative bg-white">
    <p class="flex h-10 items-center justify-center bg-indigo-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8">Get Stretchy</p>

      <div class="border-b border-gray-200">
        <div class="flex h-16 items-center">
                <div class="absolute inset-x-0 top-full text-sm text-gray-500">
                  <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
                  <div class="relative bg-white">
                    <div class="mx-auto max-w-7xl px-8">
                      <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16">
                        <div class="col-start-2 grid grid-cols-2 gap-x-8">
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
                              <img src="https://media.tenor.com/Drt0FjgVqeYAAAAd/hashibira-inosuke-bend.gif" alt="Goku Immage." class="object-cover object-center">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                              Bendy like
                            </a>
                            <p aria-hidden="true" class="mt-1">Inosuke</p>
                          </div>
                          <div class="group relative text-base sm:text-sm">
                            <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
                              <img src="https://media.tenor.com/T-RCArmJN8MAAAAS/luffy-smile.gif" alt="Three shirts in gray, white, and blue arranged on table with same line drawing of hands and shapes overlapping on front of shirt." class="object-cover object-center">
                            </div>
                            <a href="#" class="mt-6 block font-medium text-gray-900">
                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                              Loose like
                            </a>
                            <p aria-hidden="true" class="mt-1">Luffy</p>
                          </div>
                        </div>
                        <div class="row-start-1 grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-900">Apprentice Level</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Flamingo</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Push ups</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Toe Touches</a>
                              </li>                          
                            </ul>
                          </div>
                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-900">Mini-Boss</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Jumping Jacks</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Wall Squats</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Cycling</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Jump Rope</a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <p id="Brands-heading" class="font-medium text-gray-900">Shonen Strong</p>
                            <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Burpees</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Wall Squats</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-800">Back Flips</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </header>

